<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CoreUtilsSuite">
    <test name="core_object_test" preserve-order="true">
        <classes>
            <class name="com.ajayhao.core.util.test.CoreObjectUtilsTest"/>
        </classes>
    </test>
</suite>